.carousel1 {
	vertical-align: middle;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	color: blue;
}

.dernier{
	color: white;
	display: flex;
	justify-content: space-around;
}

.button{
	background: #667882;
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 45px;
	display: flex;
	align-items: center;
}

body{
	color: #C4D7ED;
	background: #D9EFF5;

}

.photobas{
	width: 10%;
	display: flex;
	justify-content: center;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
